.classpath
.gradle
.project
.settings
eclipsebin

bin
gen
build
out
lib
reports

.idea
*.iml
*.ipr
*.iws
classes
local.properties

obj

.DS_Store

node_modules

# Special Mkdocs files
docs/3.x
docs/changelog.md
docs/contributing.md
