<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingClass"
    >

  <uses-permission android:name="android.permission.INTERNET" />

  <!-- To access the system temporary directory. -->
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <application
      android:name="androidx.multidex.MultiDexApplication"
      android:usesCleartextTraffic="true" />

</manifest>
